*{
    padding: 0cm;
    margin: 0cm;
    border: 0cm;
}



.main_navbar{
    display: flex;
    justify-content: space-between;
    /* background-color: cadetblue; */
    height: 70px;
}

.sidebar{


    width: 15%;
    /* background-color: red; */
}

.side-nav-item{

    text-decoration: none;
    color: black;
}

/* .side-nav-heading{

    
    text-decoration: none;
    color:black;
} */
.side-navigation{
    padding: 16px;
}

.side-navigation ul{
    list-style: none;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 8px;
}

.side-navigation ul li a{
 /* background-color: rgb(223, 225, 225); */
 padding: 8px;
 border-radius: 8px;


} 
.side-navigation ul li a:hover{
    background-color:#f2f2f2;
}


.side-navigation-active{
 background-color: rgb(223, 225, 225);
 padding: 8px;
 border-radius: 8px;


} 

.menu-edit{
    display: flex;
    height: 28px;
    width: 28px;
    background-color: transparent;
    border-radius: 50%;
    padding: 6px 5px 4px 7px;
}

.menu-edit:hover{
background-color: #CCCCCC;
}
.main_navbar ul{

    list-style: none;
    display: flex;
}

.main_navbar ul li{
    margin: 12px;
}



.main_navbar ul li button:hover{
    background-color: #CCCCCC ;
    cursor: pointer;
    /* border: 1px solid black; */
}


.logo-container{ 

    display: flex;
    align-items: center;
}

.right_ctrl_btns{
    display: flex;
    align-items: center;
}


.logo img{

    width: 90px;
    /* height: 35px; */

   
}

.Create_btn{

    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    background-color: grey;
    padding:  6px 12px ;
    border-radius: 24px;
  /* margin-right: 80px; */


}
.Create_btn span{
    margin-left: 10px;
}

.bell_link{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding:  6px 4px 6px 8px;
    border-radius: 50%;
    /* margin: 5px; */
}
.bell_link:hover{
background-color: #CCCCCC;
}

.user_avatar img{
 width: 35px;
    height: 35px;
border-radius: 50%;

   
 
} 

.search_wrapper{
    display: flex;
    align-items: center;
    /* margin: 12px;  */
    /* padding-right: 12px; */
}
 .search_box{
    background-color: white;
width: 600px;
height: 40px;
border-bottom-left-radius: 24px;
border-top-left-radius: 24px;
border: 1px solid #CCCCCC;
padding-left: 15px;
/* padding: 12px;   issue */
/* outline: ; */

} 




.search_btn{
     

    background-color: #f2f2f2;
    height: 40px;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
    padding: 4px 16px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

    border-right: 1px solid #CCCCCC;
    /* border: 1px solid rgb(222, 220, 223); */
}




.mic_edit svg{
    padding: 4px;
}
.mic_edit{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(222, 220, 223);
      /* padding: 12px;   */
}

.parent_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}

.avatar{
width: 15%;
}

.title{
width: 78%;
}
.icon{
width: 7%;
}
.yt_card1{
    /* background-color: blueviolet; */
 width: calc(33.3% - 16px);


    /* height: 300px; */
    /* padding: 15px;
     */
     margin: 8px;
     
}
.yt_card1 img{
    border-radius: 5px;

}

.yt_images img{
    width: 100%;
    
}
.yt_details{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}
.yt_details img{

    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin-right: 15px;
}
.yt_card2{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
   margin: 8px;
}
.yt_card2 img{
    border-radius: 5px;
}

.yt_card3{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
    
}
.yt_card3 img{
    border-radius: 5px;
}

.yt_card4{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
    
}
.yt_card4 img{
    border-radius: 5px;
}

.yt_card5{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
     
}
.yt_card5 img{
    border-radius: 5px;
}

.yt_card6{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
    
}
.yt_card6 img{
    border-radius: 5px;
}

.yt_card7{
    /* background-color: blueviolet; */
 width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
   
}
.yt_card7 img{
    border-radius: 5px;
}

.yt_card8{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
   
}
.yt_card8 img{
    border-radius: 5px;
}

.yt_card9{
    /* background-color: blueviolet; */
width: calc(33.3% - 16px);


    /* height: 300px; */
    margin: 8px;
  
}
.yt_card9 img{
    border-radius: 5px;
}

.icon svg{
    height: 30px;
    width: 30px;
  
    border-radius: 50%;
   padding: 5px 5px 5px 5px;

}

.icon:hover svg {
    background-color: #CCCCCC;
}
/* 
utility classes */


.d_flex{

    display: flex;
}

.align_items_centre{
    align-items: center;
}